
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="iconfont.css">
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon iconfont icon-global-daoru"></i>
                    <div class="name">导入</div>
                    <div class="fontclass">.icon-global-daoru</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-delete-line"></i>
                    <div class="name">垃圾桶-线状</div>
                    <div class="fontclass">.icon-global-delete-line</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-yonghu"></i>
                    <div class="name">lekehome-user</div>
                    <div class="fontclass">.icon-global-yonghu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-qiehuandizhi"></i>
                    <div class="name">lekehome-address</div>
                    <div class="fontclass">.icon-global-qiehuandizhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-edit"></i>
                    <div class="name">incentive-编辑</div>
                    <div class="fontclass">.icon-global-edit</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-man"></i>
                    <div class="name">incentive-男</div>
                    <div class="fontclass">.icon-global-man</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-woman"></i>
                    <div class="name">incentive-女</div>
                    <div class="fontclass">.icon-global-woman</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-envelope"></i>
                    <div class="name">incentive-信息</div>
                    <div class="fontclass">.icon-global-envelope</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-star"></i>
                    <div class="name">incentive-星星</div>
                    <div class="fontclass">.icon-global-star</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-class1"></i>
                    <div class="name">incentive-班级</div>
                    <div class="fontclass">.icon-global-class1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-cue"></i>
                    <div class="name">incentive-警示</div>
                    <div class="fontclass">.icon-global-cue</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-information"></i>
                    <div class="name">incentive-提示</div>
                    <div class="fontclass">.icon-global-information</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-hover-kc"></i>
                    <div class="name">tab-course-btn</div>
                    <div class="fontclass">.icon-global-hover-kc</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-hover-home"></i>
                    <div class="name">tab-home-btn</div>
                    <div class="fontclass">.icon-global-hover-home</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-home"></i>
                    <div class="name">tab-home-default</div>
                    <div class="fontclass">.icon-global-home</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-hover-me"></i>
                    <div class="name">tab-me-btn</div>
                    <div class="fontclass">.icon-global-hover-me</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-me"></i>
                    <div class="name">tab-me-default</div>
                    <div class="fontclass">.icon-global-me</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-gwc"></i>
                    <div class="name">tab-shopping cart-bt</div>
                    <div class="fontclass">.icon-global-gwc</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-sc"></i>
                    <div class="name">tab-shopping cart-de</div>
                    <div class="fontclass">.icon-global-sc</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-kc"></i>
                    <div class="name">tab-course</div>
                    <div class="fontclass">.icon-global-kc</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-comment1"></i>
                    <div class="name">incentive-评论</div>
                    <div class="fontclass">.icon-global-comment1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-comment-k"></i>
                    <div class="name">incentive-评论1</div>
                    <div class="fontclass">.icon-global-comment-k</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global_download"></i>
                    <div class="name">下载</div>
                    <div class="fontclass">.icon-global_download</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global_suspend"></i>
                    <div class="name">暂停</div>
                    <div class="fontclass">.icon-global_suspend</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global_play"></i>
                    <div class="name">播放</div>
                    <div class="fontclass">.icon-global_play</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global_xuanzhe"></i>
                    <div class="name">选择</div>
                    <div class="fontclass">.icon-global_xuanzhe</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global_Choice"></i>
                    <div class="name">选择</div>
                    <div class="fontclass">.icon-global_Choice</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global_Return"></i>
                    <div class="name">返回</div>
                    <div class="fontclass">.icon-global_Return</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global_narrow"></i>
                    <div class="name">缩小</div>
                    <div class="fontclass">.icon-global_narrow</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global_enlarge"></i>
                    <div class="name">放大</div>
                    <div class="fontclass">.icon-global_enlarge</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-Left90"></i>
                    <div class="name">左旋转90°</div>
                    <div class="fontclass">.icon-global-Left90</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-Right90"></i>
                    <div class="name">右旋转90°</div>
                    <div class="fontclass">.icon-global-Right90</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-bianjikongxin"></i>
                    <div class="name">编辑-空心</div>
                    <div class="fontclass">.icon-global-bianjikongxin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-Downgrade"></i>
                    <div class="name">下降</div>
                    <div class="fontclass">.icon-global-Downgrade</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-up1"></i>
                    <div class="name">上升</div>
                    <div class="fontclass">.icon-global-up1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-time"></i>
                    <div class="name">年份时间</div>
                    <div class="fontclass">.icon-global-time</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-gengduo"></i>
                    <div class="name">更多</div>
                    <div class="fontclass">.icon-global-gengduo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-yishoucang"></i>
                    <div class="name">已收藏</div>
                    <div class="fontclass">.icon-global-yishoucang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-shoucang-normal"></i>
                    <div class="name">收藏-normal</div>
                    <div class="fontclass">.icon-global-shoucang-normal</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-qiehuan"></i>
                    <div class="name">切换刷新</div>
                    <div class="fontclass">.icon-global-qiehuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-teacher"></i>
                    <div class="name">IM-老师</div>
                    <div class="fontclass">.icon-global-teacher</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-student"></i>
                    <div class="name">IM-学生</div>
                    <div class="fontclass">.icon-global-student</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-Parent"></i>
                    <div class="name">IM-家长</div>
                    <div class="fontclass">.icon-global-Parent</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-zan-line"></i>
                    <div class="name">repository-赞</div>
                    <div class="fontclass">.icon-global-zan-line</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-zan-plane"></i>
                    <div class="name">repository-已点赞</div>
                    <div class="fontclass">.icon-global-zan-plane</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-back1"></i>
                    <div class="name">IM-返回1</div>
                    <div class="fontclass">.icon-global-back1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-share"></i>
                    <div class="name">IM-分享</div>
                    <div class="fontclass">.icon-global-share</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-search"></i>
                    <div class="name">IM-搜索</div>
                    <div class="fontclass">.icon-global-search</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-more1"></i>
                    <div class="name">IM-更多</div>
                    <div class="fontclass">.icon-global-more1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-group"></i>
                    <div class="name">IM-群</div>
                    <div class="fontclass">.icon-global-group</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-personal"></i>
                    <div class="name">IM-个人</div>
                    <div class="fontclass">.icon-global-personal</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-random"></i>
                    <div class="name">user-随机</div>
                    <div class="fontclass">.icon-global-random</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-Check1"></i>
                    <div class="name">user-选中1</div>
                    <div class="fontclass">.icon-global-Check1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-Unchecked1"></i>
                    <div class="name">user-未选1</div>
                    <div class="fontclass">.icon-global-Unchecked1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-adjust"></i>
                    <div class="name">user-调整</div>
                    <div class="fontclass">.icon-global-adjust</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-sign"></i>
                    <div class="name">user-标记</div>
                    <div class="fontclass">.icon-global-sign</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-Collection"></i>
                    <div class="name">user-收藏</div>
                    <div class="fontclass">.icon-global-Collection</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-Relation"></i>
                    <div class="name">user-链接</div>
                    <div class="fontclass">.icon-global-Relation</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-shaixuan"></i>
                    <div class="name">筛选</div>
                    <div class="fontclass">.icon-global-shaixuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-shouq1"></i>
                    <div class="name">收起-</div>
                    <div class="fontclass">.icon-global-shouq1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-zhankai1"></i>
                    <div class="name">展开-</div>
                    <div class="fontclass">.icon-global-zhankai1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-guanbi"></i>
                    <div class="name">关闭</div>
                    <div class="fontclass">.icon-global-guanbi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-upload1"></i>
                    <div class="name">global-上传</div>
                    <div class="fontclass">.icon-global-upload1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-notice"></i>
                    <div class="name">user-通知</div>
                    <div class="fontclass">.icon-global-notice</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-Outbox"></i>
                    <div class="name">user-发件箱</div>
                    <div class="fontclass">.icon-global-Outbox</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-news"></i>
                    <div class="name">user-消息</div>
                    <div class="fontclass">.icon-global-news</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-weixuan"></i>
                    <div class="name">未选</div>
                    <div class="fontclass">.icon-global-weixuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-xuanzebufen"></i>
                    <div class="name">选择部分</div>
                    <div class="fontclass">.icon-global-xuanzebufen</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-pad-back"></i>
                    <div class="name">incentive-返回-P</div>
                    <div class="fontclass">.icon-global-pad-back</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-kaiguanguan"></i>
                    <div class="name">开关—关</div>
                    <div class="fontclass">.icon-global-kaiguanguan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-kaiguankai"></i>
                    <div class="name">开关—开</div>
                    <div class="fontclass">.icon-global-kaiguankai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-hot"></i>
                    <div class="name">热门推荐</div>
                    <div class="fontclass">.icon-global-hot</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-shangpaixu1"></i>
                    <div class="name">上排序</div>
                    <div class="fontclass">.icon-global-shangpaixu1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-xiapaixu1"></i>
                    <div class="name">下排序</div>
                    <div class="fontclass">.icon-global-xiapaixu1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-daochu"></i>
                    <div class="name">导出</div>
                    <div class="fontclass">.icon-global-daochu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-more"></i>
                    <div class="name">悬浮框-更多</div>
                    <div class="fontclass">.icon-global-more</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-top"></i>
                    <div class="name">悬浮框-回到顶部</div>
                    <div class="fontclass">.icon-global-top</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-jishuzhichi"></i>
                    <div class="name">悬浮框-技术支持</div>
                    <div class="fontclass">.icon-global-jishuzhichi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-yiwen"></i>
                    <div class="name">悬浮框-我要提问</div>
                    <div class="fontclass">.icon-global-yiwen</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-fenxiang-pad"></i>
                    <div class="name">分享-pad</div>
                    <div class="fontclass">.icon-global-fenxiang-pad</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-shezhi"></i>
                    <div class="name">diag-设置</div>
                    <div class="fontclass">.icon-global-shezhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-comment"></i>
                    <div class="name">回复评论</div>
                    <div class="fontclass">.icon-global-comment</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-QQhover"></i>
                    <div class="name">login-QQhover</div>
                    <div class="fontclass">.icon-global-QQhover</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-QQchangtai"></i>
                    <div class="name">login-QQ常态</div>
                    <div class="fontclass">.icon-global-QQchangtai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-bangzhu"></i>
                    <div class="name">common page-帮助中心</div>
                    <div class="fontclass">.icon-global-bangzhu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-weixin"></i>
                    <div class="name">common page-微信</div>
                    <div class="fontclass">.icon-global-weixin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-yijianfankui"></i>
                    <div class="name">common page-意见反馈</div>
                    <div class="fontclass">.icon-global-yijianfankui</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-kefurexian"></i>
                    <div class="name">common page-客服热线</div>
                    <div class="fontclass">.icon-global-kefurexian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-guanyuwomen"></i>
                    <div class="name">common page-关于我们</div>
                    <div class="fontclass">.icon-global-guanyuwomen</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-gouwuche"></i>
                    <div class="name">common page-购物车</div>
                    <div class="fontclass">.icon-global-gouwuche</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-space"></i>
                    <div class="name">common page-空间</div>
                    <div class="fontclass">.icon-global-space</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-xiaoxi"></i>
                    <div class="name">common page-消息</div>
                    <div class="fontclass">.icon-global-xiaoxi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-lekezhanghu"></i>
                    <div class="name">tutor-乐课账户</div>
                    <div class="fontclass">.icon-global-lekezhanghu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-zuoyouqiehuan"></i>
                    <div class="name">edu-排序-颜色可编辑</div>
                    <div class="fontclass">.icon-global-zuoyouqiehuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-ledouaccoun"></i>
                    <div class="name">turtor-ledou  accoun</div>
                    <div class="fontclass">.icon-global-ledouaccoun</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-xiangceshipin"></i>
                    <div class="name">相册视频</div>
                    <div class="fontclass">.icon-global-xiangceshipin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-morentu"></i>
                    <div class="name">默认图</div>
                    <div class="fontclass">.icon-global-morentu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-Course2"></i>
                    <div class="name">Course-prompt</div>
                    <div class="fontclass">.icon-global-Course2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-class"></i>
                    <div class="name">课堂名称</div>
                    <div class="fontclass">.icon-global-class</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-xiayi"></i>
                    <div class="name">repository-下移/倒序</div>
                    <div class="fontclass">.icon-global-xiayi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-zhankai"></i>
                    <div class="name">repository-展开</div>
                    <div class="fontclass">.icon-global-zhankai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-browse"></i>
                    <div class="name">repository-查看预览</div>
                    <div class="fontclass">.icon-global-browse</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-shangyi"></i>
                    <div class="name">repository-上移</div>
                    <div class="fontclass">.icon-global-shangyi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-upload"></i>
                    <div class="name">repository-上传文件</div>
                    <div class="fontclass">.icon-global-upload</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-shouqi"></i>
                    <div class="name">repository-收起</div>
                    <div class="fontclass">.icon-global-shouqi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-zk-right"></i>
                    <div class="name">repository-下拉选项right</div>
                    <div class="fontclass">.icon-global-zk-right</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-zk-left"></i>
                    <div class="name">repository-下拉选项left</div>
                    <div class="fontclass">.icon-global-zk-left</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-sq-plane"></i>
                    <div class="name">repository-下拉选项up</div>
                    <div class="fontclass">.icon-global-sq-plane</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-zk-plane"></i>
                    <div class="name">repository-下拉选项down</div>
                    <div class="fontclass">.icon-global-zk-plane</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-zk-you"></i>
                    <div class="name">repository-展开选项right</div>
                    <div class="fontclass">.icon-global-zk-you</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-zk-zuo"></i>
                    <div class="name">repository-展开选项left</div>
                    <div class="fontclass">.icon-global-zk-zuo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-sq-line"></i>
                    <div class="name">repository-展开选项up</div>
                    <div class="fontclass">.icon-global-sq-line</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-zk-line"></i>
                    <div class="name">repository-展开选项down</div>
                    <div class="fontclass">.icon-global-zk-line</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global--shouqi-line"></i>
                    <div class="name">repository-收起</div>
                    <div class="fontclass">.icon-global--shouqi-line</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-zhankai-line"></i>
                    <div class="name">repository-展开</div>
                    <div class="fontclass">.icon-global-zhankai-line</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-yuyin-line"></i>
                    <div class="name">答案解析—语音批注</div>
                    <div class="fontclass">.icon-global-yuyin-line</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-yuyin-plane"></i>
                    <div class="name">语音</div>
                    <div class="fontclass">.icon-global-yuyin-plane</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-sousuo"></i>
                    <div class="name">repository-搜索</div>
                    <div class="fontclass">.icon-global-sousuo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-dizhi-line"></i>
                    <div class="name">icon-切换地址</div>
                    <div class="fontclass">.icon-global-dizhi-line</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-delete-plane"></i>
                    <div class="name">垃圾桶-面状</div>
                    <div class="fontclass">.icon-global-delete-plane</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-tianjia"></i>
                    <div class="name">global-添加</div>
                    <div class="fontclass">.icon-global-tianjia</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-help-line"></i>
                    <div class="name">帮助问号</div>
                    <div class="fontclass">.icon-global-help-line</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-xiazai"></i>
                    <div class="name">global-下载</div>
                    <div class="fontclass">.icon-global-xiazai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-xuanzhong"></i>
                    <div class="name">global-选中</div>
                    <div class="fontclass">.icon-global-xuanzhong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-right"></i>
                    <div class="name">向右</div>
                    <div class="fontclass">.icon-global-right</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-left"></i>
                    <div class="name">向左</div>
                    <div class="fontclass">.icon-global-left</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-down"></i>
                    <div class="name">向下</div>
                    <div class="fontclass">.icon-global-down</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-up"></i>
                    <div class="name">向上</div>
                    <div class="fontclass">.icon-global-up</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-help-plane"></i>
                    <div class="name">帮助问号-面状</div>
                    <div class="fontclass">.icon-global-help-plane</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-quanxuan"></i>
                    <div class="name">全选</div>
                    <div class="fontclass">.icon-global-quanxuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-dingbu"></i>
                    <div class="name">回到顶部</div>
                    <div class="fontclass">.icon-global-dingbu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-weixin1"></i>
                    <div class="name">微信</div>
                    <div class="fontclass">.icon-global-weixin1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-xkpk"></i>
                    <div class="name">删除线状</div>
                    <div class="fontclass">.icon-global-xkpk</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-qiantaibukejian"></i>
                    <div class="name">前台不可见</div>
                    <div class="fontclass">.icon-global-qiantaibukejian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-ruanjian"></i>
                    <div class="name">软件</div>
                    <div class="fontclass">.icon-global-ruanjian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-global-save"></i>
                    <div class="name">笔记-保存</div>
                    <div class="fontclass">.icon-global-save</div>
                </li>
            
        </ul>

        <h2 id="font-class-">font-class引用</h2>
        <hr>

        <p>font-class是unicode使用方式的一种变种，主要是解决unicode书写不直观，语意不明确的问题。</p>
        <p>与unicode使用方式相比，具有如下特点：</p>
        <ul>
        <li>兼容性良好，支持ie8+，及所有现代浏览器。</li>
        <li>相比于unicode语意明确，书写更直观。可以很容易分辨这个icon是什么。</li>
        <li>因为使用class来定义图标，所以当要替换图标时，只需要修改class里面的unicode引用。</li>
        <li>不过因为本质上还是使用的字体，所以多色图标还是不支持的。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的fontclass代码：</h3>


        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;link rel="stylesheet" type="text/css" href="./iconfont.css"&gt;</span></code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-css hljs">&lt;<span class="hljs-selector-tag">i</span> <span class="hljs-selector-tag">class</span>="<span class="hljs-selector-tag">iconfont</span> <span class="hljs-selector-tag">icon-xxx</span>"&gt;&lt;/<span class="hljs-selector-tag">i</span>&gt;</code></pre>
        <blockquote>
        <p>"iconfont"是你项目下的font-family。可以通过编辑项目查看，默认是"iconfont"。</p>
        </blockquote>
    </div>
</body>
</html>
