
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <script src="iconfont.js"></script>

    <style type="text/css">
        .icon {
          /* 通过设置 font-size 来改变图标大小 */
          width: 1em; height: 1em;
          /* 图标和文字相邻时，垂直对齐 */
          vertical-align: -0.15em;
          /* 通过设置 color 来改变 SVG 的颜色/fill */
          fill: currentColor;
          /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
             normalize.css 中也包含这行 */
          overflow: hidden;
        }

    </style>
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-daoru"></use>
                    </svg>
                    <div class="name">导入</div>
                    <div class="fontclass">#icon-global-daoru</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-delete-line"></use>
                    </svg>
                    <div class="name">垃圾桶-线状</div>
                    <div class="fontclass">#icon-global-delete-line</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-yonghu"></use>
                    </svg>
                    <div class="name">lekehome-user</div>
                    <div class="fontclass">#icon-global-yonghu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-qiehuandizhi"></use>
                    </svg>
                    <div class="name">lekehome-address</div>
                    <div class="fontclass">#icon-global-qiehuandizhi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-edit"></use>
                    </svg>
                    <div class="name">incentive-编辑</div>
                    <div class="fontclass">#icon-global-edit</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-man"></use>
                    </svg>
                    <div class="name">incentive-男</div>
                    <div class="fontclass">#icon-global-man</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-woman"></use>
                    </svg>
                    <div class="name">incentive-女</div>
                    <div class="fontclass">#icon-global-woman</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-envelope"></use>
                    </svg>
                    <div class="name">incentive-信息</div>
                    <div class="fontclass">#icon-global-envelope</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-star"></use>
                    </svg>
                    <div class="name">incentive-星星</div>
                    <div class="fontclass">#icon-global-star</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-class1"></use>
                    </svg>
                    <div class="name">incentive-班级</div>
                    <div class="fontclass">#icon-global-class1</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-cue"></use>
                    </svg>
                    <div class="name">incentive-警示</div>
                    <div class="fontclass">#icon-global-cue</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-information"></use>
                    </svg>
                    <div class="name">incentive-提示</div>
                    <div class="fontclass">#icon-global-information</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-hover-kc"></use>
                    </svg>
                    <div class="name">tab-course-btn</div>
                    <div class="fontclass">#icon-global-hover-kc</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-hover-home"></use>
                    </svg>
                    <div class="name">tab-home-btn</div>
                    <div class="fontclass">#icon-global-hover-home</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-home"></use>
                    </svg>
                    <div class="name">tab-home-default</div>
                    <div class="fontclass">#icon-global-home</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-hover-me"></use>
                    </svg>
                    <div class="name">tab-me-btn</div>
                    <div class="fontclass">#icon-global-hover-me</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-me"></use>
                    </svg>
                    <div class="name">tab-me-default</div>
                    <div class="fontclass">#icon-global-me</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-gwc"></use>
                    </svg>
                    <div class="name">tab-shopping cart-bt</div>
                    <div class="fontclass">#icon-global-gwc</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-sc"></use>
                    </svg>
                    <div class="name">tab-shopping cart-de</div>
                    <div class="fontclass">#icon-global-sc</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-kc"></use>
                    </svg>
                    <div class="name">tab-course</div>
                    <div class="fontclass">#icon-global-kc</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-comment1"></use>
                    </svg>
                    <div class="name">incentive-评论</div>
                    <div class="fontclass">#icon-global-comment1</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-comment-k"></use>
                    </svg>
                    <div class="name">incentive-评论1</div>
                    <div class="fontclass">#icon-global-comment-k</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global_download"></use>
                    </svg>
                    <div class="name">下载</div>
                    <div class="fontclass">#icon-global_download</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global_suspend"></use>
                    </svg>
                    <div class="name">暂停</div>
                    <div class="fontclass">#icon-global_suspend</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global_play"></use>
                    </svg>
                    <div class="name">播放</div>
                    <div class="fontclass">#icon-global_play</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global_xuanzhe"></use>
                    </svg>
                    <div class="name">选择</div>
                    <div class="fontclass">#icon-global_xuanzhe</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global_Choice"></use>
                    </svg>
                    <div class="name">选择</div>
                    <div class="fontclass">#icon-global_Choice</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global_Return"></use>
                    </svg>
                    <div class="name">返回</div>
                    <div class="fontclass">#icon-global_Return</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global_narrow"></use>
                    </svg>
                    <div class="name">缩小</div>
                    <div class="fontclass">#icon-global_narrow</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global_enlarge"></use>
                    </svg>
                    <div class="name">放大</div>
                    <div class="fontclass">#icon-global_enlarge</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-Left90"></use>
                    </svg>
                    <div class="name">左旋转90°</div>
                    <div class="fontclass">#icon-global-Left90</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-Right90"></use>
                    </svg>
                    <div class="name">右旋转90°</div>
                    <div class="fontclass">#icon-global-Right90</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-bianjikongxin"></use>
                    </svg>
                    <div class="name">编辑-空心</div>
                    <div class="fontclass">#icon-global-bianjikongxin</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-Downgrade"></use>
                    </svg>
                    <div class="name">下降</div>
                    <div class="fontclass">#icon-global-Downgrade</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-up1"></use>
                    </svg>
                    <div class="name">上升</div>
                    <div class="fontclass">#icon-global-up1</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-time"></use>
                    </svg>
                    <div class="name">年份时间</div>
                    <div class="fontclass">#icon-global-time</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-gengduo"></use>
                    </svg>
                    <div class="name">更多</div>
                    <div class="fontclass">#icon-global-gengduo</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-yishoucang"></use>
                    </svg>
                    <div class="name">已收藏</div>
                    <div class="fontclass">#icon-global-yishoucang</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-shoucang-normal"></use>
                    </svg>
                    <div class="name">收藏-normal</div>
                    <div class="fontclass">#icon-global-shoucang-normal</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-qiehuan"></use>
                    </svg>
                    <div class="name">切换刷新</div>
                    <div class="fontclass">#icon-global-qiehuan</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-teacher"></use>
                    </svg>
                    <div class="name">IM-老师</div>
                    <div class="fontclass">#icon-global-teacher</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-student"></use>
                    </svg>
                    <div class="name">IM-学生</div>
                    <div class="fontclass">#icon-global-student</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-Parent"></use>
                    </svg>
                    <div class="name">IM-家长</div>
                    <div class="fontclass">#icon-global-Parent</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-zan-line"></use>
                    </svg>
                    <div class="name">repository-赞</div>
                    <div class="fontclass">#icon-global-zan-line</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-zan-plane"></use>
                    </svg>
                    <div class="name">repository-已点赞</div>
                    <div class="fontclass">#icon-global-zan-plane</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-back1"></use>
                    </svg>
                    <div class="name">IM-返回1</div>
                    <div class="fontclass">#icon-global-back1</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-share"></use>
                    </svg>
                    <div class="name">IM-分享</div>
                    <div class="fontclass">#icon-global-share</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-search"></use>
                    </svg>
                    <div class="name">IM-搜索</div>
                    <div class="fontclass">#icon-global-search</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-more1"></use>
                    </svg>
                    <div class="name">IM-更多</div>
                    <div class="fontclass">#icon-global-more1</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-group"></use>
                    </svg>
                    <div class="name">IM-群</div>
                    <div class="fontclass">#icon-global-group</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-personal"></use>
                    </svg>
                    <div class="name">IM-个人</div>
                    <div class="fontclass">#icon-global-personal</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-random"></use>
                    </svg>
                    <div class="name">user-随机</div>
                    <div class="fontclass">#icon-global-random</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-Check1"></use>
                    </svg>
                    <div class="name">user-选中1</div>
                    <div class="fontclass">#icon-global-Check1</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-Unchecked1"></use>
                    </svg>
                    <div class="name">user-未选1</div>
                    <div class="fontclass">#icon-global-Unchecked1</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-adjust"></use>
                    </svg>
                    <div class="name">user-调整</div>
                    <div class="fontclass">#icon-global-adjust</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-sign"></use>
                    </svg>
                    <div class="name">user-标记</div>
                    <div class="fontclass">#icon-global-sign</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-Collection"></use>
                    </svg>
                    <div class="name">user-收藏</div>
                    <div class="fontclass">#icon-global-Collection</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-Relation"></use>
                    </svg>
                    <div class="name">user-链接</div>
                    <div class="fontclass">#icon-global-Relation</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-shaixuan"></use>
                    </svg>
                    <div class="name">筛选</div>
                    <div class="fontclass">#icon-global-shaixuan</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-shouq1"></use>
                    </svg>
                    <div class="name">收起-</div>
                    <div class="fontclass">#icon-global-shouq1</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-zhankai1"></use>
                    </svg>
                    <div class="name">展开-</div>
                    <div class="fontclass">#icon-global-zhankai1</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-guanbi"></use>
                    </svg>
                    <div class="name">关闭</div>
                    <div class="fontclass">#icon-global-guanbi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-upload1"></use>
                    </svg>
                    <div class="name">global-上传</div>
                    <div class="fontclass">#icon-global-upload1</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-notice"></use>
                    </svg>
                    <div class="name">user-通知</div>
                    <div class="fontclass">#icon-global-notice</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-Outbox"></use>
                    </svg>
                    <div class="name">user-发件箱</div>
                    <div class="fontclass">#icon-global-Outbox</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-news"></use>
                    </svg>
                    <div class="name">user-消息</div>
                    <div class="fontclass">#icon-global-news</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-weixuan"></use>
                    </svg>
                    <div class="name">未选</div>
                    <div class="fontclass">#icon-global-weixuan</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-xuanzebufen"></use>
                    </svg>
                    <div class="name">选择部分</div>
                    <div class="fontclass">#icon-global-xuanzebufen</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-pad-back"></use>
                    </svg>
                    <div class="name">incentive-返回-P</div>
                    <div class="fontclass">#icon-global-pad-back</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-kaiguanguan"></use>
                    </svg>
                    <div class="name">开关—关</div>
                    <div class="fontclass">#icon-global-kaiguanguan</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-kaiguankai"></use>
                    </svg>
                    <div class="name">开关—开</div>
                    <div class="fontclass">#icon-global-kaiguankai</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-hot"></use>
                    </svg>
                    <div class="name">热门推荐</div>
                    <div class="fontclass">#icon-global-hot</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-shangpaixu1"></use>
                    </svg>
                    <div class="name">上排序</div>
                    <div class="fontclass">#icon-global-shangpaixu1</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-xiapaixu1"></use>
                    </svg>
                    <div class="name">下排序</div>
                    <div class="fontclass">#icon-global-xiapaixu1</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-daochu"></use>
                    </svg>
                    <div class="name">导出</div>
                    <div class="fontclass">#icon-global-daochu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-more"></use>
                    </svg>
                    <div class="name">悬浮框-更多</div>
                    <div class="fontclass">#icon-global-more</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-top"></use>
                    </svg>
                    <div class="name">悬浮框-回到顶部</div>
                    <div class="fontclass">#icon-global-top</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-jishuzhichi"></use>
                    </svg>
                    <div class="name">悬浮框-技术支持</div>
                    <div class="fontclass">#icon-global-jishuzhichi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-yiwen"></use>
                    </svg>
                    <div class="name">悬浮框-我要提问</div>
                    <div class="fontclass">#icon-global-yiwen</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-fenxiang-pad"></use>
                    </svg>
                    <div class="name">分享-pad</div>
                    <div class="fontclass">#icon-global-fenxiang-pad</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-shezhi"></use>
                    </svg>
                    <div class="name">diag-设置</div>
                    <div class="fontclass">#icon-global-shezhi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-comment"></use>
                    </svg>
                    <div class="name">回复评论</div>
                    <div class="fontclass">#icon-global-comment</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-QQhover"></use>
                    </svg>
                    <div class="name">login-QQhover</div>
                    <div class="fontclass">#icon-global-QQhover</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-QQchangtai"></use>
                    </svg>
                    <div class="name">login-QQ常态</div>
                    <div class="fontclass">#icon-global-QQchangtai</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-bangzhu"></use>
                    </svg>
                    <div class="name">common page-帮助中心</div>
                    <div class="fontclass">#icon-global-bangzhu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-weixin"></use>
                    </svg>
                    <div class="name">common page-微信</div>
                    <div class="fontclass">#icon-global-weixin</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-yijianfankui"></use>
                    </svg>
                    <div class="name">common page-意见反馈</div>
                    <div class="fontclass">#icon-global-yijianfankui</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-kefurexian"></use>
                    </svg>
                    <div class="name">common page-客服热线</div>
                    <div class="fontclass">#icon-global-kefurexian</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-guanyuwomen"></use>
                    </svg>
                    <div class="name">common page-关于我们</div>
                    <div class="fontclass">#icon-global-guanyuwomen</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-gouwuche"></use>
                    </svg>
                    <div class="name">common page-购物车</div>
                    <div class="fontclass">#icon-global-gouwuche</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-space"></use>
                    </svg>
                    <div class="name">common page-空间</div>
                    <div class="fontclass">#icon-global-space</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-xiaoxi"></use>
                    </svg>
                    <div class="name">common page-消息</div>
                    <div class="fontclass">#icon-global-xiaoxi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-lekezhanghu"></use>
                    </svg>
                    <div class="name">tutor-乐课账户</div>
                    <div class="fontclass">#icon-global-lekezhanghu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-zuoyouqiehuan"></use>
                    </svg>
                    <div class="name">edu-排序-颜色可编辑</div>
                    <div class="fontclass">#icon-global-zuoyouqiehuan</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-ledouaccoun"></use>
                    </svg>
                    <div class="name">turtor-ledou  accoun</div>
                    <div class="fontclass">#icon-global-ledouaccoun</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-xiangceshipin"></use>
                    </svg>
                    <div class="name">相册视频</div>
                    <div class="fontclass">#icon-global-xiangceshipin</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-morentu"></use>
                    </svg>
                    <div class="name">默认图</div>
                    <div class="fontclass">#icon-global-morentu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-Course2"></use>
                    </svg>
                    <div class="name">Course-prompt</div>
                    <div class="fontclass">#icon-global-Course2</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-class"></use>
                    </svg>
                    <div class="name">课堂名称</div>
                    <div class="fontclass">#icon-global-class</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-xiayi"></use>
                    </svg>
                    <div class="name">repository-下移/倒序</div>
                    <div class="fontclass">#icon-global-xiayi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-zhankai"></use>
                    </svg>
                    <div class="name">repository-展开</div>
                    <div class="fontclass">#icon-global-zhankai</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-browse"></use>
                    </svg>
                    <div class="name">repository-查看预览</div>
                    <div class="fontclass">#icon-global-browse</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-shangyi"></use>
                    </svg>
                    <div class="name">repository-上移</div>
                    <div class="fontclass">#icon-global-shangyi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-upload"></use>
                    </svg>
                    <div class="name">repository-上传文件</div>
                    <div class="fontclass">#icon-global-upload</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-shouqi"></use>
                    </svg>
                    <div class="name">repository-收起</div>
                    <div class="fontclass">#icon-global-shouqi</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-zk-right"></use>
                    </svg>
                    <div class="name">repository-下拉选项right</div>
                    <div class="fontclass">#icon-global-zk-right</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-zk-left"></use>
                    </svg>
                    <div class="name">repository-下拉选项left</div>
                    <div class="fontclass">#icon-global-zk-left</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-sq-plane"></use>
                    </svg>
                    <div class="name">repository-下拉选项up</div>
                    <div class="fontclass">#icon-global-sq-plane</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-zk-plane"></use>
                    </svg>
                    <div class="name">repository-下拉选项down</div>
                    <div class="fontclass">#icon-global-zk-plane</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-zk-you"></use>
                    </svg>
                    <div class="name">repository-展开选项right</div>
                    <div class="fontclass">#icon-global-zk-you</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-zk-zuo"></use>
                    </svg>
                    <div class="name">repository-展开选项left</div>
                    <div class="fontclass">#icon-global-zk-zuo</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-sq-line"></use>
                    </svg>
                    <div class="name">repository-展开选项up</div>
                    <div class="fontclass">#icon-global-sq-line</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-zk-line"></use>
                    </svg>
                    <div class="name">repository-展开选项down</div>
                    <div class="fontclass">#icon-global-zk-line</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global--shouqi-line"></use>
                    </svg>
                    <div class="name">repository-收起</div>
                    <div class="fontclass">#icon-global--shouqi-line</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-zhankai-line"></use>
                    </svg>
                    <div class="name">repository-展开</div>
                    <div class="fontclass">#icon-global-zhankai-line</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-yuyin-line"></use>
                    </svg>
                    <div class="name">答案解析—语音批注</div>
                    <div class="fontclass">#icon-global-yuyin-line</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-yuyin-plane"></use>
                    </svg>
                    <div class="name">语音</div>
                    <div class="fontclass">#icon-global-yuyin-plane</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-sousuo"></use>
                    </svg>
                    <div class="name">repository-搜索</div>
                    <div class="fontclass">#icon-global-sousuo</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-dizhi-line"></use>
                    </svg>
                    <div class="name">icon-切换地址</div>
                    <div class="fontclass">#icon-global-dizhi-line</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-delete-plane"></use>
                    </svg>
                    <div class="name">垃圾桶-面状</div>
                    <div class="fontclass">#icon-global-delete-plane</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-tianjia"></use>
                    </svg>
                    <div class="name">global-添加</div>
                    <div class="fontclass">#icon-global-tianjia</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-help-line"></use>
                    </svg>
                    <div class="name">帮助问号</div>
                    <div class="fontclass">#icon-global-help-line</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-xiazai"></use>
                    </svg>
                    <div class="name">global-下载</div>
                    <div class="fontclass">#icon-global-xiazai</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-xuanzhong"></use>
                    </svg>
                    <div class="name">global-选中</div>
                    <div class="fontclass">#icon-global-xuanzhong</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-right"></use>
                    </svg>
                    <div class="name">向右</div>
                    <div class="fontclass">#icon-global-right</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-left"></use>
                    </svg>
                    <div class="name">向左</div>
                    <div class="fontclass">#icon-global-left</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-down"></use>
                    </svg>
                    <div class="name">向下</div>
                    <div class="fontclass">#icon-global-down</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-up"></use>
                    </svg>
                    <div class="name">向上</div>
                    <div class="fontclass">#icon-global-up</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-help-plane"></use>
                    </svg>
                    <div class="name">帮助问号-面状</div>
                    <div class="fontclass">#icon-global-help-plane</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-quanxuan"></use>
                    </svg>
                    <div class="name">全选</div>
                    <div class="fontclass">#icon-global-quanxuan</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-dingbu"></use>
                    </svg>
                    <div class="name">回到顶部</div>
                    <div class="fontclass">#icon-global-dingbu</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-weixin1"></use>
                    </svg>
                    <div class="name">微信</div>
                    <div class="fontclass">#icon-global-weixin1</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-xkpk"></use>
                    </svg>
                    <div class="name">删除线状</div>
                    <div class="fontclass">#icon-global-xkpk</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-qiantaibukejian"></use>
                    </svg>
                    <div class="name">前台不可见</div>
                    <div class="fontclass">#icon-global-qiantaibukejian</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-ruanjian"></use>
                    </svg>
                    <div class="name">软件</div>
                    <div class="fontclass">#icon-global-ruanjian</div>
                </li>
            
                <li>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-global-save"></use>
                    </svg>
                    <div class="name">笔记-保存</div>
                    <div class="fontclass">#icon-global-save</div>
                </li>
            
        </ul>


        <h2 id="symbol-">symbol引用</h2>
        <hr>

        <p>这是一种全新的使用方式，应该说这才是未来的主流，也是平台目前推荐的用法。相关介绍可以参考这篇<a href="">文章</a>
        这种用法其实是做了一个svg的集合，与另外两种相比具有如下特点：</p>
        <ul>
          <li>支持多色图标了，不再受单色限制。</li>
          <li>通过一些技巧，支持像字体那样，通过<code>font-size</code>,<code>color</code>来调整样式。</li>
          <li>兼容性较差，支持 ie9+,及现代浏览器。</li>
          <li>浏览器渲染svg的性能一般，还不如png。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-symbol-">第一步：引入项目下面生成的symbol代码：</h3>
        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;script src="./iconfont.js"&gt;&lt;/script&gt;</span></code></pre>
        <h3 id="-css-">第二步：加入通用css代码（引入一次就行）：</h3>
        <pre><code class="lang-js hljs javascript">&lt;style type=<span class="hljs-string">"text/css"</span>&gt;
.icon {
   width: <span class="hljs-number">1</span>em; height: <span class="hljs-number">1</span>em;
   vertical-align: <span class="hljs-number">-0.15</span>em;
   fill: currentColor;
   overflow: hidden;
}
&lt;<span class="hljs-regexp">/style&gt;</span></code></pre>
        <h3 id="-">第三步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-js hljs javascript">&lt;svg <span class="hljs-class"><span class="hljs-keyword">class</span></span>=<span class="hljs-string">"icon"</span> aria-hidden=<span class="hljs-string">"true"</span>&gt;<span class="xml"><span class="hljs-tag">
  &lt;<span class="hljs-name">use</span> <span class="hljs-attr">xlink:href</span>=<span class="hljs-string">"#icon-xxx"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">use</span>&gt;</span>
</span>&lt;<span class="hljs-regexp">/svg&gt;
        </span></code></pre>
    </div>
</body>
</html>
